body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1450A3;
  font-family: Arial, sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  padding: 20px;
  background-color: #337CCF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.display {
  grid-column: span 4;
  text-align: right;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
}

.btn {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background-color: #279EFF;
  border: 1px solid #ccc;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #ccc;
  color: #fff;
}
